
.App {
  text-align: center;
  background-color: #051838;
}

.App-logo {
  float: left;
  height: 12vmin;
  margin: 0;
  background-color: brown;
}

.App-header {
  background-image: linear-gradient(#353340, #051838);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.1vw;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/***** DestinationIndex *****/

.dest-card-container {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  min-height: 600px;
}

.dest-card {
  max-height: 510px;
  max-width: 25%;
  flex-grow: 1;
  width: 20%;
  height: auto;
  text-align: left;
  margin: .9%;
  padding: 1%;
  border: 1px solid #f8e080;
  border-radius: 1px;
}

.btn.btn-outline-warning.btn.btn-default {
  width: 100%;
  margin: 0 0 2% 0;
  color: #f8e080;
  border-color: #f8e080;
}

.btn.btn-outline-warning.btn.btn-default:hover {
  color: #051838;
  background-color: #f8e080;
}

.pic-box {
  width: 90%;
  height: auto;
  margin: 0 auto 0 auto;
}

.dest-card.break-here {
  page-break-after: always;
  break-after: always;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0 0 2% 0 !important;
  padding: inherit;
}

.btn.btn-sm.btn-outline-success.btn.btn-default {
  margin-right: 5%;
}

/***** NavBar *****/

.outter-nav-wrapper {
  width: 100%;
  background-image: linear-gradient(#051838, #353340);
  margin: 0 0 5% 0;
  padding-bottom: 1px;
}

.inner-nav-wrapper {
  width: 80%;
  margin: 0 auto 0 auto;
  border-right: 1px solid #f8e080;
  border-left: 1px solid #f8e080;
  border-bottom: 1px solid #f8e080;
  border-radius: 1px;
  display: flex;
  flex-flow: row wrap;
  padding-right: 2%;
}

.nav-links {
  padding: .7%;
  flex-grow: 1;
  margin: auto 0 auto 0;
  border: .6px solid #f8e080;
  border-radius: 2px;
}

.nav-a {
  margin: 0 7% 0 7%;
  font-size: 1vw;
  padding: 1%;
  border-right: .5px solid #f8e080;
  border-left: .5px solid #f8e080;
  color: #fff;
}

.nav-a:hover {
  text-decoration: none;
  background-color: #f8e080 !important;
  color: #051838;
  border-radius: 1px;
}

.nav-a:active {
  text-decoration: none;
  border: 2px solid #007bff;
  border-radius: 5px;
}

h4 {
  float: left;
  margin-top: 8.5% !important;
  font-size: 1.5vw !important;
  font-family: 'Audiowide', cursive !important;
  border-top: .1px solid #f8e080;
  border-bottom: .1px solid #f8e080;
  padding: 8px 0 8px 0;
}

.nav-header {
  color: #fff;
}

.nav-header:hover {
  color: #f8e080;
  text-decoration: none;
}

#title-box {
  flex-grow: .3;
}

#logo-box {
  width: 8%;
  margin: 0;
}

/***** AstroBodyFilter *****/

.filter {
  width: 57vw;
  border-bottom: 1px solid #f8e080;
  border-radius: 1px;
  padding-bottom: 1%;
  margin: 0 auto 2% auto;
}

.filter-label {
  margin: 0 1% 0 1%;
}

/***** Footer *****/

footer {
  width: 80%;
  margin: 2% auto 0 auto;
  padding-bottom: .7%;
  font-size: calc(4px + 1vmin);
  color: #fff;
}

#nasa-box {
  width: 40%;
  margin: 0 auto 0 auto;
}

#nasa-pic-box {
  display: inline-block;
  width: 9%;
}

/***** Landing *****/

#star-1 {
  margin-bottom: 10%;
  float: right;
  width: 4%;
  animation: App-logo-spin infinite 20s reverse;
}

#star-2 {
  margin-left: 10%;
  width: 3%;
  animation: App-logo-spin infinite 40s alternate;
}

#star-3 {
  float: right;
  width: 2%;
  animation: App-logo-spin infinite 30s linear;
}

#star-4 {
  width: 2%;
  animation: App-logo-spin infinite 10s linear;
}

#welcome-logo {
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 0 auto 5% auto;
  font-family: 'Audiowide', cursive !important;
}

#landing-p {
  text-align: center;
  margin: 0 auto 5% auto;
}

.btn-danger:hover {
  background-color: #D92424 !important;
}

.outter-home-wrapper {
  width: 80%;
  min-height: 500px;
  margin-bottom: 10%;
}

.inner-home-wrapper {
  width: 62%;
  margin: 10% auto 0 auto;

}

/***** NewDestination *****/

.destination-form {
  width: 50%;
}

.btn.btn-primary.btn-lg.btn-block {
  width: 60%;
  margin: 6% auto 6% auto;
  background-color: #dc3545;
  border-color: #dc3545;
  font-size: calc(1px + 2vmin);
}

.btn.btn-primary.btn-lg.btn-block:hover{
  background-color: #D92424;
}

/***** DestinationShow *****/

.destination-show {
  width: 50%;
  text-align: left;
  margin: .9%;
  padding: 1.5%;
  border: 1px solid #f8e080;
  border-radius: 1px;
}

.pic-box-2 {
  width: 40%;
  height: auto;
  margin: 0 auto 0 auto;
}

.comment-section {
  padding-top: 3%;
  margin-top: 4%;
  border-top: 1px solid #f8e080;
  border-radius: 1px;
}

.btn.btn-sm.btn-outline-dark {
  border: 1px solid grey;
  color: grey;
  margin-right: 5%;
}

.btn.btn-sm.btn-outline-dark:hover {
  border: 1px solid #343a40;
  color: #fff;
}

.btn.btn-outline-warning-2.btn.btn-default {
  width: 100%;
  margin: 0 0 3% 0;
  color: #f8e080;
  border-color: #f8e080;
  pointer-events: none;
}

.dest-p {
  margin-bottom: 3%;
}

.dest-p-2 {
  margin: 0 10% 0 0;
  display: inline;
}

.details-box {
  margin-bottom: 3%;
}

.comment {
  background-color: #fff;
  height: auto;
  color: #343a40;
  opacity: .8;
  border-radius: 1px;
  padding: 1.5%;
  margin-bottom: 2%;
  font-size: 1vw;
}

.comment-form {
  padding-top: 3%;
  border-top: 1px solid #f8e080;
  margin-top: 5%;
}

.commenter {
  text-align: right;
  margin: .5% 0 0 0;
}

.btn.btn-sm.btn-dark {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn.btn-sm.btn-dark:active {
  background-color: red !important;
  border-color: #007bff !important;
}
